body{
    background-color: #2f4f4f;
    color: #ffffff;
}
th{
    color: aquamarine;
    text-align: center;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.site-header{
    height: 90px;
    margin: 0 0 100px;
    color: #2f4f4f;
}
.site-header h1{
    margin: 0;
    line-height: 55px;
}
.logo{
    height: 50px;
    display: inline-block;
    margin: 0;
    text-align: center;
}
.create-deal-button{
    margin-top: 20px;
    height: 60px;
    font-size: 20px;
}
.profile{
    line-height: 2;
    font-weight: 200;
    font-size: 17px;
}
.price{
    font-size: larger;
    font-weight: 200;
}
.creation label{
    font-size: 17px;
}
.navigation ul{
    margin-top: 50px;
}
.navigation li{
    margin: 10px 0;
}
.navigation a{
    display: block;
}
.navigation button{
    width: 100%;
}
.error p{
    color: red;
    font-weight: 200;
}
.error input:focus{
    border: solid 1px red;
    box-shadow: 0 0 5px 1px red;
}
