body{
    background-color: #fff;
    color: #000;
}
th{
    text-align: center;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.site-header{
    height: 90px;
}
.site-header h1{
    margin: 0;
    line-height: 90px;
    background-color: powderblue;
}
.logo{
    height: 50px;
    display: inline-block;
    margin: 0;
    text-align: center;
}
.sign-in{
    margin-top: 100px;
}
.create-deal-button{
    margin-top: 20px;
    height: 60px;
    font-size: 20px;
}
.profile{
    line-height: 2;
    font-weight: 200;
    font-size: 17px;
}
.price{
    font-size: larger;
    font-weight: 200;
}
.creation label{
    font-size: 17px;
}
.error p{
    color: red;
    font-weight: 200;
    margin-bottom: 0;
}
.error input:focus{
    border: solid 1px red;
    box-shadow: 0 0 5px 0px red;
}
.warning p{
    color: yellow;
    font-weight: 200;
    margin-bottom: 0;
}
.warning input:focus{
    border: solid 1px yellow;
    box-shadow: 0 0 5px 0px yellow;
}
.error-email-message{
    padding-left: 12px;
    font-size: 17px;
}
.navbar a{

}
